# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# 2 space indentation for YAML, JSON, Markdown
[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2

# 4 space indentation for Python
[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

# 4 space indentation for Bash/Shell
[*.{sh,bash}]
indent_style = space
indent_size = 4

# 2 space indentation for JavaScript/TypeScript
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# 2 space indentation for Docker/Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

# 2 space indentation for Terraform
[*.{tf,tfvars}]
indent_style = space
indent_size = 2

# Tabs for Makefiles
[Makefile]
indent_style = tab

# Tab indentation for Go
[*.go]
indent_style = tab
indent_size = 4

# HTML
[*.html]
indent_style = space
indent_size = 2

# CSS/SCSS/LESS
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# Java
[*.java]
indent_style = space
indent_size = 4
max_line_length = 100

# C/C++
[*.{c,cc,cpp,h,hpp}]
indent_style = space
indent_size = 4
max_line_length = 100

# Configuration files
[*.{conf,config,cfg,ini}]
indent_style = space
indent_size = 2

# .editorconfig
[.editorconfig]
indent_style = space
indent_size = 2
