openapi: "3.1.0"
info:
  title: code-server ↔ Portal Workspace Set API
  description: |
    API contract between the kushnir.cloud portal (Backstage/Appsmith) and code-server
    for launching, restoring, and governing multi-repo workspace sets.
    
    Closes #727 (Integration: Kushnir.cloud Developer Context Hub).
  version: "1.0.0"
  contact:
    name: Platform Engineering
servers:
  - url: https://ide.kushnir.cloud/api/v1
    description: Production code-server API
  - url: http://localhost:8080/api/v1
    description: Local development

security:
  - bearerAuth: []

paths:
  /workspace-sets:
    get:
      summary: List workspace sets accessible to the authenticated user
      operationId: listWorkspaceSets
      tags: [workspace-sets]
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [personal, team, org-shared, all]
          description: Filter by scope (default: all accessible)
        - name: owner
          in: query
          schema:
            type: string
          description: Filter by owner identifier
      responses:
        "200":
          description: List of workspace sets
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace_sets:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkspaceSet"
                  total: {type: integer}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}

    post:
      summary: Create a new workspace set
      operationId: createWorkspaceSet
      tags: [workspace-sets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceSetCreate"
      responses:
        "201":
          description: Created workspace set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSet"
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "422": {$ref: "#/components/responses/PolicyViolation"}

  /workspace-sets/{id}:
    get:
      summary: Get a workspace set by ID
      operationId: getWorkspaceSet
      tags: [workspace-sets]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string, pattern: "^ws-[a-z0-9]{12}$"}
      responses:
        "200":
          description: Workspace set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSet"
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}

    put:
      summary: Update a workspace set
      operationId: updateWorkspaceSet
      tags: [workspace-sets]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceSetUpdate"
      responses:
        "200":
          description: Updated workspace set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSet"
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "422": {$ref: "#/components/responses/PolicyViolation"}

    delete:
      summary: Delete a workspace set
      operationId: deleteWorkspaceSet
      tags: [workspace-sets]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
      responses:
        "204": {description: Deleted}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}

  /workspace-sets/{id}/launch:
    post:
      summary: Launch a workspace set (opens repos in code-server)
      description: |
        Initiates an async launch of the workspace set. Returns a launch request ID
        that can be polled for status. If approval_required=true on the set, the launch
        is queued pending approval from the Appsmith console.
      operationId: launchWorkspaceSet
      tags: [workspace-sets]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
      responses:
        "202":
          description: Launch accepted (async; poll /launch/{launch_id} for status)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchRequest"
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409":
          description: Pending approval — launch queued, awaiting Appsmith approval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchRequest"

  /workspace-sets/{id}/launch/{launch_id}:
    get:
      summary: Get launch request status
      operationId: getLaunchStatus
      tags: [workspace-sets]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: launch_id
          in: path
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Launch request status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchRequest"
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}

  /workspace-sets/{id}/session-metadata:
    get:
      summary: Get session restore metadata for admin visibility
      description: Returns restore attempt history for this workspace set (admin use).
      operationId: getWorkspaceSetSessionMetadata
      tags: [workspace-sets, admin]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: limit
          in: query
          schema: {type: integer, default: 20}
      responses:
        "200":
          description: Session restore metadata records
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/SessionRestoreMetadata"
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT from the kushnir.cloud identity service (Keycloak/OAuth2)

  schemas:
    WorkspaceSet:
      type: object
      description: "See config/schemas/workspace-set.schema.json for full schema."
      properties:
        id: {type: string}
        schema_version: {type: integer}
        name: {type: string}
        description: {type: string}
        repos:
          type: array
          items:
            type: object
            properties:
              canonical_path: {type: string}
              remote_url: {type: string}
              launch_order: {type: integer}
        owner:
          type: object
          properties:
            subject: {type: string}
            type: {type: string, enum: [user, team]}
        scope: {type: string, enum: [personal, team, org-shared]}
        rbac:
          type: object
          properties:
            viewers: {type: array, items: {type: string}}
            editors: {type: array, items: {type: string}}
            approval_required: {type: boolean}
            approved_by: {type: string}
            approved_at: {type: string, format: date-time}
        policy_compliant: {type: boolean}
        policy_checked_at: {type: string, format: date-time}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
        launched_count: {type: integer}
        last_launched_at: {type: string, format: date-time}

    WorkspaceSetCreate:
      type: object
      required: [name, repos, scope]
      properties:
        name: {type: string}
        description: {type: string}
        repos:
          type: array
          items:
            type: object
            required: [canonical_path]
            properties:
              canonical_path: {type: string}
              remote_url: {type: string}
              launch_order: {type: integer}
        scope: {type: string, enum: [personal, team, org-shared]}
        rbac:
          type: object

    WorkspaceSetUpdate:
      type: object
      properties:
        name: {type: string}
        description: {type: string}
        repos:
          type: array
          items:
            type: object
        scope: {type: string}
        rbac: {type: object}

    LaunchRequest:
      type: object
      properties:
        launch_id: {type: string}
        workspace_set_id: {type: string}
        status:
          type: string
          enum: [pending_approval, launching, success, failed]
        initiated_by: {type: string}
        initiated_at: {type: string, format: date-time}
        completed_at: {type: string, format: date-time}
        error: {type: string}
        audit_event_id: {type: string}

    SessionRestoreMetadata:
      type: object
      properties:
        workspace_set_id: {type: string}
        launched_by: {type: string}
        launched_at: {type: string, format: date-time}
        restore_success: {type: boolean}
        restore_fallback_used: {type: boolean}
        restore_errors:
          type: array
          items:
            type: object
            properties:
              resource: {type: string}
              error: {type: string}
              recovery_action: {type: string}
        audit_event_id: {type: string}

    ErrorResponse:
      type: object
      properties:
        error: {type: string}
        message: {type: string}
        request_id: {type: string}

  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated user lacks permission for this resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PolicyViolation:
      description: Action blocked by active policy
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
